<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Notes", root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% unless user_signed_in? %>
          <li>
            <%= link_to new_user_session_path do %>
                <span class="glyphicon glyphicon-log-in"></span>  Login
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
                <span class="glyphicon glyphicon-user"></span> Sign Up
            <% end %>
          </li>
      <% else %>
          <li>
            <%= link_to "My account", edit_user_registration_path %>
          </li>
          <% if current_user.is_admin?%>
            <li>
              <%= link_to "Users", admin_users_path %>
            </li>
          <% end %>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
                <span class="glyphicon glyphicon-log-in"></span>  Logout
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <%= render "layouts/flash_msg" %>
    <%= yield %>
    <%= render "layouts/dialog" %>
  </div>
    <div class="col-sm-2"></div>
</div>

</body>
</html>
